.main-body {
    background-color: grey;
    display: inline-block;
    width: 60%;
    position: absolute;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.header-news {
    display: flex;
    width: 100%;
    position: relative;
    height: 40px;
    text-align: center;
    padding-left: 40%;
}